<?xml version="1.0" encoding="utf-8" ?>
<plugin id="cordova-plugin-global-121-indy" version="0.1.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">
  <name>Global-121-Indy</name>
  <js-module name="Global 121 Indy" src="www/index.js">
    <clobbers target="Global121.Indy" />
  </js-module>
  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Global121Indy">
        <param name="ios-package" value="Global121Indy" />
      </feature>
    </config-file>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    <source-file src="src/ios/Global121Indy.swift" />
    <framework src="vendor/Indy.framework" custom="true" embed="true" />
  </platform>
</plugin>
