<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        id="cordova-plugin-global-121-indy"
        version="0.1.0"
>
  <name>cordova-plugin-121-Indy</name>

  <engines>
    <engine name="cordova" version=">=9.0.0"/>
    <engine name="cordova-ios" version=">=5.0.0"/>
    <engine name="apple-ios" version=">=13.0" />
  </engines>

  <js-module name="Global 121 Indy" src="www/plugin.js">
    <clobbers target="Global121.Indy" />
  </js-module>

  <platform name="ios">
    <config-file target="config.xml" parent="/*">
      <feature name="Global121Indy">
        <param name="ios-package" value="Global121Indy" />
      </feature>
    </config-file>
    <dependency id="cordova-plugin-add-swift-support" version="2.0.2" />
    <source-file src="src/ios/Global121Indy.swift" />
    <source-file src="src/ios/PoolConfig.swift" />
    <resource-file src="src/ios/sovrin_pool_transactions_sandbox_genesis.txt" />
    <resource-file src="src/ios/docker_pool_transactions_genesis.txt" />
    <framework src="vendor/Indy.framework" custom="true" embed="true" />
  </platform>
</plugin>
